.btn-style {
    border: none;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 200px;
    background-color: #010101;
    width: 220px;
    margin: 30px;
}

.btn-style:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 1000ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width:1300px) {
    .btn-style {
        width: 300px;
        padding: 20px;
    }
}