.wrapper {
    display: flex;
    height: 100vh;
    width: 100wh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f4ef;
}

.wrapper button {
    font-weight: bold;
    font-size: 20px;
}

.accordian {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.item {
    background-color: #020826;
    margin-bottom: 10px;
    width: 130px;
    padding: 10px 20px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.desc {
    color: white;
    font-style: italic;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.txt-information {
    color: #004643;
    font-weight: bold;
    font-size: 25px;
}

.title-generator {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: bold;
}